
.logo {
  color: var(--white);
  font-size: 35px;
  font-weight: 600;

  p {
    color: var(--white)
  }

  span {
    color: var(--red);
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgBlack);
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  width: 100%;
  background-color: var(--bgBlack);
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;

    li {
      margin-left: 15px;
      color: var(--white);
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      transition: all 0.3s ease-in;
    }

    li:hover {
      color: var(--red);
    }

    li:first-child {
      margin-left: 0;
    }
  }
}

.menu {
  background-color: rgba(245, 247, 250, 1);
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  z-index: 10;
  top: 0;
  border: 0.2px solid rgba(39, 91, 209, 0.5);
  right: -100%;
  transition: 850ms;
}

.menu.activeMobile {
  right: 0;
  transition: 350ms;
}

.btnMenu{
  display: none;
  font-size: 30px;
  color: var(--white);
}
@media screen and (max-width: 576px) {

  .btnMenu{
    display: block;
  }
  .container {
    ul {
      display: none;
    }
  }
}