.profileImage {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .profileImage {
    width: 100%;
  }
}